/* .custom-navbar {
  background-color: #b5c1cd;
  padding: 20px 40px !important;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  position: sticky;
}

.custom-navbar a {
  color: #0f0f0f;
  margin-right: 15px;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.custom-navbar a:hover {
  color: #f0ad4e;
  text-decoration: underline;
}

.linksDiv {
  display: flex;
  align-items: center;
  gap: 10px;
}

.custom-navbar button {
  margin-left: 10px;
  background-color: #dc3545;
  border: none;
  color: white;
  padding: 6px 12px;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.custom-navbar button:hover {
  background-color: #c82333;
}

@media (max-width: 991px) {
  .linksDiv {
    flex-direction: column;
    align-items: flex-start;
  }

  .custom-navbar a {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .custom-navbar button {
    margin-top: 10px;
  }
} */

.custom-navbar {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
background-color:#023446;
  padding: 10px 40px !important;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  z-index: 1030;
  border-bottom:2px solid #ff700b;
}

.custom-navbar a {
  color: #0f0f0f;
  margin-right: 15px;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.custom-navbar a:hover {
  color: #f0ad4e;
  text-decoration: underline;
}

.linksDiv {
  display: flex;
  align-items: center;
  gap: 10px;
}

.custom-navbar button {
  margin-left: 10px;
  background-color: #f1f1f1;
  border: none;
  color: rgb(0, 0, 0);
  padding: 6px 12px;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.custom-navbar button:hover {
  background-color: #928ba0;
}

/* Responsive tweaks */
@media (max-width: 991px) {
  .linksDiv {
    flex-direction: column;
    align-items: flex-start;
  }

  .custom-navbar a {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .custom-navbar button {
    margin-top: 10px;
    margin-left: 0;
  }
  #NavbarToggle{
    margin-top: -5%;
  }
  #ToggleLinks{
    text-align: center;
    margin-left: 90%;
    /* background-color: #f0ad4e; */
    align-items: end;
    justify-content: center;
  }
}
img{
  border-radius: 50px;
}