.profile-page {
  max-width: 600px;
  margin: 50px auto;
  padding: 2rem;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  text-align: center;
  font-family: sans-serif;
}

.profile-section {
  margin-bottom: 20px;
}

.profile-avatar {
 
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #0b0b0b;
}

.upload-input {
  margin-top: 10px;
}

.profile-info p {
  font-size: 1.1rem;
  margin: 8px 0;
}
#Button{
  width: 15vw;
  margin-top: 1%;
  margin-left: 4% !important;
}
@media (max-width:768px) {
  #Button{
  width: 20vw;
  margin-top: 1%;
  margin-left:10%;
}

}